<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->





<router-outlet>

  <ul class="list-unstyled mt-5">
    <li class="d-inline me-3"><a routerLink="/home">Home Page</a></li>
    <li class="d-inline me-3"><a routerLink="/about">About Page</a></li>
    <li class="d-inline me-3"><a routerLink="/contact-us">Contact Page</a></li>
    <li class="d-inline me-3"><a routerLink="/blogs">Blogs Page</a></li>
    <li class="d-inline me-3 "><a routerLink="/convert-currency">Convert Currency Page</a> </li>
  </ul>


